.user-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    max-width: 700px; /* Establece un ancho máximo para limitar el tamaño del contenedor */
    margin-left: auto; /* Centra el contenedor en la pantalla */
    margin-right: auto;
  }
  
  .user-info {
    flex: 1;
  }
  
  .actions {
    margin-left: 10px;
  }
  